<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="/madlib">
        <div> Please enter name of person:
            <input type="text" name="person">
        </div>
        <div> Please choose a color
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
            </select>
        </div>
        <div>Please choose an adjective:
            <input type="text" name="adjective">
        </div>
        <div>Please choose a noun:
            <input type="text" name="noun">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>


</body>

</html>