<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Madlib3</title>
  </head>
  <body>
    <p>
      Today I went to the zoo. I saw a(n) {{adjectives[0]}}
      {{nouns[0]}} jumping up and down in its tree. He
      {{past_verb}} {{adverb}} through the large
      tunnel that led to its {{adjectives[1]}} {{nouns[0]}}. I got some
      peanuts and passed them through the cage to a gigantic {{color}} {{nouns[1]}}
      towering above my head. Feeding that animal made me hungry. I went to get
      a {{adjectives[2]}} scoop of ice cream. It filled my stomach.
      Afterwards I had to {{present_verb}} {{adverb}} to catch our bus.
      When I got home I {{past_verb}} my mom for a
      {{adjectives[2]}} day at the zoo.
    </p>
    <form action="/hello">
      <input type="submit" value="Start Over" />
    </form>
  </body>
</html>
