<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Madlib2</title>
  </head>
  <body>
    <p>
      When I go to the arcade with {{ person }}. there are
      lots of {{adjectives[0] }} games to play. I spend lots of time there with
      my friends. In the game X-Men you can be different {{ color }} {{ nouns[0]
      }}s. The point of the game is to {{ present_verb }} every robot. You also need
      to save people. Then you can go to the next {{ nouns[1] }}.
    </p>
    <form action="/hello">
      <input type="submit" value="Start Over" />
    </form>
  </body>
</html>
